## 1. Write an SQL query to show only odd rows from a table.

In [ ]:
select * from Table where MOD(Id, 2) = 1;

## 2.Write an SQL query to clone a new table from another table.

In [ ]:
CREATE TABLE "CLONE" ( 
    'id' int(11) NOT NULL auto_increment, 
    'name' varchar(100) NOT NULL default '', 
 );
#Assuming this the sturcture of the original table
insert into CLONE (id, name)  SELECT id,name from ORIGINAL;