## 1.Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [ ]:
select SUBSTR(FIRST_NAME,1, 3) from Worker

## 2.Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [ ]:
select POSITION("a" IN first_name) from Worker where first_name = "Amitabh"

## 3. Write an SQL query to print the name of employees having the highest salary in each department

In [ ]:
# Assuming there is two different table for employee and department
select Department.Name as Department, e1.Name as Employee, e1.Salary as Salary from Department 
join Employee e1 ON Department.Id = e1.DepartmentId
where e1.Salary = (select Max(Salary) from Employee e2 where e2.DepartmentId = e1.DepartmentId)